<%- include('templates/header') %>
    <main>
        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h2 data-animation="fadeInUp" data-delay=".6s">Providing Hope and Healing
                                        to Those in Need</h2>
                                    <P data-animation="fadeInUp" data-delay=".8s">Karpearl Medical Foundation is dedicated to providing free medical treatment, care, and support to the less privileged, with a focus on those living with HIV and AIDS.</P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="/donation" class="btn hero-btn mb-10" data-animation="fadeInLeft"
                                            data-delay=".8s">Support Us</a>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Our Helping to<br> the world.</h1>
                                    <P data-animation="fadeInUp" data-delay=".8s">Onsectetur adipiscing elit, sed do
                                        eiusmod tempor incididunt ut bore et dolore magnt, sed do eiusmod.</P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="" class="btn hero-btn mb-10" data-animation="fadeInLeft"
                                            data-delay=".8s">Support Us</a>
                                        <a href="" class="cal-btn ml-15" data-animation="fadeInRight"
                                            data-delay="1.0s">
                                            <i class="flaticon-null"></i>
                                            <p>+12 1325 41</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? Services Area Start -->
        <div class="service-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>What we are doing</span>
                            <h3>We Are On A Mission To Help The Helpless</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat active text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/logo/healthcare.png" style="margin-bottom:2%">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Care</a></h5>
                                <p>Beyond treatment, we believe in compassionate care that respects the dignity of every individual. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat active text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/logo/medical-care.png" style="margin-bottom:2%">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="/donation">Support</a></h5>
                                <p>Support is at the heart of our mission. We stand beside individuals and families through every challenge, and community outreach. </p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat active text-center mb-50">
                            <div class="cat-icon">
                                <img src="assets/img/logo/medical.png" style="margin-bottom:2%">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Treatment</a></h5>
                                <p>We are committed to ensuring timely and accessible treatment for individuals in need. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!--? About Law Start-->
        <section class="about-low-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span>About our foundation</span>
                                <h2>We Are World Wide Organization</h2>
                            </div>
                            <p>Karpearl Medical Foundation was established on the 15th of March 2014, with the goal of bridging the healthcare gap for vulnerable populations.</p>
                            <p> Our team of dedicated healthcare professionals and volunteers has been working tirelessly to provide quality medical care to those in need.</p>
                        </div>
                        <a href="/about" class="btn">Organization Info</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img d-none d-lg-block">
                                <img src="assets/img/gallery/about2.png" alt="">
                            </div>
                            <div class="about-back-img ">
                                <img src="assets/img/gallery/about1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Law End-->
        <!-- Our Cases Start -->
        <div class="our-cases-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Our Cases you can see</span>
                            <h2> OUR PROGRAMS </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <% getPrograms.slice(0,6).forEach(function(programs,index) { %>
                          
                        <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img src="uploads/<%= programs.filename %>" alt="" style="height:250px;">
                            </div>
                            <div class="cases-caption">
                                <h3><a href="#"><%= programs.heading %></a></h3>
                                <!-- Progress Bar -->
                                <div class="single-skill mb-15">
                                    <div class="bar-progress">
                                        <div id="bar1" class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span class="fill" data-percentage="70"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / progress -->
                                <div class="prices d-flex justify-content-between">
                                    <a href="/programs" class="btn btn-success" style="color:white; border:none">View More</a>
                                    <p>Uploaded by:<span> Admin</span></p>
                                </div>
                            </div>

                            
                        </div>
                    </div>

                     <% } )%>
                     <!-- Get programs here-->
                   
                </div>
            </div>
        </div>
        <!-- Our Cases End -->
        <!-- Featured_job_start -->
        <section class="featured-job-area section-padding30 section-bg2"
            data-background="assets/img/gallery/section_bg03.png">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                         
                            <h2>Upcoming Events</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                   
                    <% upcoming_events.slice(0,3).forEach( function(upcoming) { %>
                     
                        <div class="col-lg-9 col-md-12">
                        <!-- single-job-content -->
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/upcoming_events"><img src="uploads/<%= upcoming.filename %>" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/upcoming_events">
                                        <h4><%=upcoming.heading %></h4>
                                    </a>
                                    <ul>
                                        <li><i class="far fa-clock"></i><%= upcoming.uptime %></li>
                                        <li><i class="fas fa-sort-amount-down"></i><%= upcoming.update %></li>
                                        <!--<li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>-->
                                    </ul>
                                    
                                </div>
                               
                            </div>
                            
                        </div>
                    </div>


                    <% }) %>
                    
                     
                    
                </div>
                 <div class="section-tittle text-center mb-80">
                         
                             <a href="/upcoming_events" class="btn btn-success">View More</a>
                        </div>
               
            </div>
        </section>
        <!-- Featured_job_end -->
        <!--? Team Ara Start -->
        <div class="team-area pt-160 pb-160">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/gallery/team.jpg" alt="" style="width: 60%; margin-left: 20%;">
                                <!-- Blog Social -->
                                
                            </div>
                            <div class="team-caption">
                                <h3><a href="">Karpearl Team</a></h3>
                              
                            </div>
                        </div>
                    </div>
                   
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Ara End -->
        <!-- Want To work -->
        <section class="wantToWork-area ">
            <div class="container">
                <div class="wants-wrapper w-padding2  section-bg" data-background="assets/img/gallery/section_bg01.png">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-9 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>Lets Chenge The World With Humanity</h2>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <a href="/volunteer" class="btn white-btn f-right sm-left">Become A Volunteer</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Want To work End -->
        <!--? Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            <img src="assets/img/gallery/director1.jpg" alt="" style="width: 20%; border-radius: 10%;">
                                            <span>Dr. Juliet Edmund</span>
                                            <p>Director Karpearl Foundation</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Our vision is to create a world where the poor and needy have equal access to quality healthcare, empowering them to live healthier, dignified, and fulfilling lives.”</p>
                                    </div>
                                </div>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
       
        <!--? Count Down Start -->
        <div class="count-down-area pt-25 section-bg" data-background="assets/img/gallery/section_bg02.png">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="count-down-wrapper">
                            <div class="row justify-content-between">
                                 <% getnumInfo.forEach(function(getnum) { %>
                                     <% const getv = parseInt(getnum.volunteers) %>
                                     <% const getT = parseInt(getnum.treated) %>
                                     <% const  getD = parseInt(getnum.donations) %>

                                     <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green"><%= getv %></span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Volunteers</p>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green"><%= getT %></span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Africans Treated</p>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green"><%= getnum.donations %></span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Donation</p>
                                    </div>
                                </div>
                                 <% }) %>
                                
                                
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Count Down End -->
    </main>
   <%- include('templates/footer') %>